.skalaetiketter {
    position: relative;
    padding: 14px 0;
    height: 1rem;
    box-sizing: content-box;

    > * {
        font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
        position: absolute;
        font-size: 14px;
        color: #78706a;
    }
}

.directionRight {
    transform: translateX(100%);
}