.perioder {
  flex: 1;
  height: 1.5rem;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0.25rem 0;

  > hr {
    margin: 0;
    height: 0;
    width: 100%;
    border: none;
    border-top: 3px solid #e7e9e9;
  }
}
