.perioder {
  flex: 1;
  height: 1.5rem;
  display: flex;
  align-items: center;
  position: relative;
  margin: 1.5rem 0;
}

.emptyRow {
  flex: 1;
  height: 1.5rem;
  width: 100%;
  border: none;
  background-color: #f8f8f8;
  margin: 1.5rem 0;
}

.aktivRad > hr {
  background-color: #E5F3FF;
}