.skalaetiketter {
    position: relative;
    padding: 14px 0;
    height: 1rem;
}

.etikett {
    font-size: 14px;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    color: #78706a;
    position: absolute;
    transform: translateX(-50%);
}