.knapp {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: none;
    border: none;
    -webkit-appearance: none;
    height: 100%;
    min-height: 85px;
    width: 4rem;
    cursor: pointer;

    > * {
        position: relative;
    }

    .ikonskygge(@background, @size) {
        position: absolute;
        content: '';
        background: @background;
        height: @size;
        width: @size;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
    }

    &:before {
        .ikonskygge(transparent, 30px);
    }

    &:after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        height: 0;
        width: 100%;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }

    &:hover:before {
        .ikonskygge(#e7e9e9, 48px);
    }

    &:focus-visible:before {
        height: 48px;
        width: 48px;
        box-shadow: 0 0 0 3px #4D3E55;
    }

    &:focus, &:active {
        outline: none;
    }

    &.disabled {
        &:hover:before {
            display: none;
        }

        * {
            fill: #78706a;
        }
    }
}

.aktivKnapp {
    &:after {
        height: 4px;
        background: #0067C5;
    }

    > * {
        fill: #0067c5;
    }
}