@colorHover: #f0f2f2;
@colorActive: #e5f3ff;
@navBla: #0067c5;

.datoinvervall {
  position: absolute;
  height: 100%;
  border: none;
  background: none;
  mix-blend-mode: darken;

  &::-moz-focus-inner {
    border: 0;
  }

  &:hover,
  &:focus {
    background: @colorHover;
    outline: none;
  }
}

.aktivtDatointervall {
  composes: datoinvervall;
  background: @colorActive;
  box-shadow:
          0.5px 0 0 0 @navBla,
          -0.5px 0 0 0 @navBla,
          inset 0.5px 0 0 0 @navBla,
          inset -0.5px 0 0 0 @navBla;

  .dot() {
    content: '';
    position: absolute;
    top: -3px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: @navBla;
  }

  &:before {
    .dot();
    left: -3px;
  }

  &:after {
    .dot();
    right: -3px;
  }
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(100% - 15rem);
}