@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap');

body {
    background: white;
}

p {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.nowrap {
    white-space: nowrap;
    line-break: strict;
    word-break: keep-all;
}

.left-aligned {
    text-align: start;
}

.undertekst {
    font-size: 14px;
    margin: 0;
}